
/* Header */

header {
  display: flex;
  justify-content: space-between;
  position:relative;
}

#company {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}


#tagline {
  display: inline;
}

h1 {
  font-size: 22pt;
  font-family: 'Yellowtail', cursive;
  margin: 0px;
}

h2 {
  font-size: 5pt;
  margin: 0px;
}


#links {
  display: flex;
  flex-direction: row;
  position:relative;
}

#social {
}

#contact {
  margin-left: .5em;
}

#banner {
  background-color: lightgray;
  text-align: center;
  height: 30px;
  margin-bottom: 50px;
}

/* Main Content */

h3 {
  font-size: 22pt;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
}

h4 {
  font-size: 8pt;
  margin: 0px;
}

#main-top {
  display: flex;
  justify-content: space-between;
  position:relative;
}

#print {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

p {
  font-size: small;
  margin: 0px;
}

#pizza {
  display: flex;
  justify-content: center;
}

#para{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#para p{
  padding-top: 40px;
  max-width: 901px;
  align-self: center;
}

#background-paper{
  display: flex;
  justify-content: center;
  background-image: url('../img/list-bg.png');
  align-self: center;
  max-width: 901px;
  
}

#big{
  display: flex;
  justify-content: center;
  
}

ul{
  list-style-type: none;

}

#text-decoration{
  text-decoration: line-through;
}

#bottom{
  display: flex;
  justify-content: center;
  max-width: 901px;
  align-self: center;

}

#bio{
  padding-left: 1em;
  align-items: center;
}